<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./include/head')%>
</head>
<body>
    <ariticle id="404">
        <header class="container text-center" style="height: 70px; line-height: 70px; letter-spacing: 2.5px;">
            <span style="color: white;">M</span><span style="color: #ce85e4;">C</span><span style="color:white;">TI</span>
        </header>
        <div id="undefined" class="container text-center">
            <img src="images/cocktail.png" style="width: 250px;">
            <p class="mb-3 text-center"><span style="font-family: GyeonggiBatang; font-size: 42px;  color: #ca69e7;"> 404</span></p>
            <p class="text-center" style="font-family: GyeonggiBatang; font-size: 28px; color: #dfd2df; margin-top: -10px;"> 찾을수 없는</p>
            <p class="text-center" style="font-family: GyeonggiBatang; font-size: 28px; color: #dfd2df; margin-top: -10px;"> 페이지 입니다.</p>
            <p class="text-center" style="font-family: GyeonggiBatang; font-size: 28px; color: #dfd2df; margin-top: -10px;"><span style="font-family: GyeonggiBatang; font-size: 28px;  color: #ca69e7;"> 요청하신 페이지</span>가</p>
            <p class="text-center" style="font-family: GyeonggiBatang; font-size: 28px; color: #dfd2df; margin-top: -10px;"> 사라졌거나</p>
            <p class="text-center" style="font-family: GyeonggiBatang; font-size: 28px; color: #dfd2df; margin-top: -10px;"><span style="font-family: GyeonggiBatang; font-size: 28px;  color: #ca69e7;"> 잘못된 경로</span>를</p> 
            <p class="text-center" style="font-family: GyeonggiBatang; font-size: 28px; color: #dfd2df; margin-top: -10px;"> 이용하셨어요.</p>
        </div>
    </ariticle>
</body>
</html>
