<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./include/head')%>
</head>
<body>
    <ariticle id="start">
        <header class="container text-center" style="height: 70px; line-height: 70px; letter-spacing: 2.5px;">
            <span style="color: white;">M</span><span style="color: #ce85e4;">C</span><span style="color:white;">TI</span>
        </header>
        <div id="umm" class="container text-center">
            <img src="images/cocktail2.png" style="width: 250px;">
            <p class="mt-2 mb-0 text-center" style="font-family: GyeonggiBatang; font-size: 32px; color: #dfd2df;">내 성향으로 확인하는</p>
            <p class="text-center" style="font-family: GyeonggiBatang; font-size: 32px; color: #dfd2df; margin-top: -10px;"><span style="font-family: GyeonggiBatang; font-size: 32px;  color: #ca69e7;">칵테일 </span>취향 찾기 !</p>
            <button type="button" class="start_btn mt-5"  onclick="location.href='/form'">시작하기</button>
        </div>
    </ariticle>
    <br/><br/>
    <div class="container text-center">
        <ins class="kakao_ad_area" style="display:none;" 
            data-ad-unit    = "DAN-P5LNBkOuR09yDcXi" 
            data-ad-width   = "320" 
            data-ad-height  = "50">
        </ins> 
        <script type="text/javascript" src="//t1.daumcdn.net/kas/static/ba.min.js" async></script>

    </div>
</body>

</html>
